body{
    background-color: lightcyan;
    text-align: center;
}
h1{
    font-size: x-large;
    color: black;
    text-align: center;
}
p{
    font-size: large;
}
 input{
    color: brown;
 }
 fieldset{
    background-color: lightgreen;
    margin: 0px 250px 0px 250px;
    padding: 30px;
    border: 2px solid blueviolet;
    border-radius: 5px;
 }